

.auth {
    max-width: 510px;
	min-height: 520px;
	border: 1px solid rgba(39, 39, 39, 0.1);
	border-radius: 10px;
	margin: 0 auto;
	text-align: center;
	margin-top: 6.5%;
	padding: 0;
	background: #efecec;
}

.auth__logo {
   margin-top: 50px;
}
.logo {
    width: 60px;
}
.text {
    margin-top: 40px;
    font-size: 25px;

}
.auth__form {
    max-width: 334px;
		height: 200px;
		margin: 0 auto;
        padding-top: 30px;
}
.auth__form_loginText {
    font-weight: 200;
	font-size: 16px;
	line-height: 22px;
	height: 22px;
	width: 122px;
	display: flex;
    color: rgba(23, 23, 25, 0.6);
    padding-left: 55px;
    
}
.auth__form_loginInput {
    max-width: 334px;
	height: 18px;
	border: 1px solid rgba(23, 23, 25, 0.2);
	border-radius: 10px;
	font-size: 20px;
	line-height: 14px;
	padding: 10px;
    margin-bottom: 20px;
}
.auth__form_passwordInput {
    max-width: 334px;
	height: 18px;
	border: 1px solid rgba(23, 23, 25, 0.2);
	border-radius: 10px;
	font-size: 20px;
	line-height: 14px;
	padding: 10px;
    margin-bottom: 20px;
}
.auth__form_btn {
    margin-top: 10px;
    background: #1390E5;
    border: 0px solid;
    border-radius: 5px;
    width: 150px;
    height: 42px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.auth__form_btn:focus {
    background: #0c68a5;
}