.dialogues {
  max-width: 510px;
  min-height: 100vh;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #3087f8;
  padding: 0;
  background: #3087f8;
}

.header {
  max-width: 510px;
  background: white;
  min-height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  border: 3px solid #3087f8;
  background: #efecec;
}
.logo {
  width: 50px;
}

.exit {
  color: #0e6fef;
  width: 70px;
  background-color: #ffffff;
  height: 50px;
  font-style: normal;
  background: #efecec;
  font-size: 18px;
  border: 0px solid #3087f8;
}
.list {
  max-width: 490px;
  border: 1px solid red;
  margin-left: 5px;
  margin-right: 5px;
  background: #efecec;
  min-height: 100%;
  border-radius: 15px;
  min-height: calc(100vh - 200px);
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
}

.text {
  border: 1px solid #3087f8;
  min-height: 100%;
  width: 97%;
  word-wrap: break-word;
}
.back {
  color: #ffffff;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.input {
  border-radius: 5px;
  display: flex;
  height: 30px;
  min-width: 220px;

  margin-right: 10px;
  align-items: flex-end;
  border: 0px solid #3087f8;
}
.send {
  margin-left: 5px;
  margin-right: 10px;
  display: flex;
  height: 50px;
  align-items: center;
  border: 2px solid #3087f8;
}
.sendMessage {
  height: 30px;
  max-width: 100%;
  align-items: center;
  border-radius: 5px;
  border: 0px solid #3087f8;
}
